*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.div1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card1{
  width: 766px;
    height: 557px;
    border-radius: 20px;
    box-shadow: 0px 4px 7px 4px #00000040;
    padding: 60px 62px;
}
h1{
  margin-top: 24px;
  font-family: Itim;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}
h1 span{
  color: #FFEE01;
}
h2{
  font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 40px;
}
